.ecotope.contain{
  padding: .9rem 0;
  display: flex;
  .cont-box{
    width: 25vw;
  }
  .cont-left{
    margin-left: 10px;
    flex: 3;
  }
  .cont-right{
    margin-right: 10px;
    flex: 3;
  }
  .cont-center{
    flex: 6;
    .cont-list{
      ul{
        li{
          width: 220px;
          height: 130px;
          color: #4df1bd;
          &:last-child{
            color: #ffc90d
          }
        }
      }
    }
  }
}
