@charset "utf-8";
@import "./base/conn.less";
@import "./base/base.less";
.blue{
    color:@blue;
}
.red{
    color:@red;
}
.ori{
    color:@ori;
}
//初始化
.sprite(){
    background-image: url(../images/sprite-icon.png);
}
.bg(){
    background: rgba(0,0,0,0.15);
}
@import "./home.less";



