<%- include('../templates/head') %>
<body>
    <div class="contain">
        <%- include('../templates/header') %>
        <div class="cont-list clearfix">
             <div class="cont-list-left">
                 <div class="cont-box">
                      <div class="cont-box-all">
                          <div class="cont-title">经济运行</div>
                      </div>
                 </div>
                 <div class="cont-box">
                      <div class="cont-box-all">
                          <div class="cont-title">民生舆情</div>
                      </div>
                 </div>
             </div>
             <div class="cont-list-center">
                 <div class="ce-res-all clearfix">
                     <div class="ce-box-cdi pull-left">
                         <div class="cdi-title">综合发展指数CDI</div>
                         <ul class="cdi-number">
                             <li>
                                 <div class="nums">78.6</div>
                                 <p>2016</p>
                             </li>
                             <li>
                                 <div class="nums">78.6</div>
                                 <p>2017</p>
                             </li>
                             <li>
                                 <div class="nums">98.6</div>
                                 <p>2018<i>预测</i></p>
                             </li>
                         </ul>
                     </div>
                     <div class="ce-box-early pull-right">
                         <div class="early-title">数据中心及预警</div>
                     </div>
                 </div>
                 <div class="ce-res-bottom clearfix">
                     <div class="ce-box-early pull-left">

                     </div>
                     <div class="ce-box-early pull-left"></div>
                     <div class="ce-box-early pull-left"></div>
                 </div>
             </div>
             <div class="cont-list-right">
                <div class="cont-box">
                    <div class="cont-box-all">
                        <div class="cont-title">基础设施</div>
                        <div class="cr-bo-nums">
                            <p class="bo-num">76</p>
                            <p class="bo-index bo-index3">基建综合指数</p>
                        </div>
                        <div class="chart-boxs">
                            <div id="chartBasic" class="chart-pics"></div>
                        </div>
                    </div>
                </div>
                <div class="cont-box">
                    <div class="cont-box-all">
                        <div class="cont-title">生态坏境</div>
                        <div class="cr-bo-nums">
                            <p class="bo-num bo-num2">82</p>
                            <p class="bo-index bo-index3">环境综合指数</p>
                        </div>
                        <ul class="ri-lists clearfix">
                            <li><a href="javascript:void(0)">环卫</a> </li>
                            <li><a href="javascript:void(0)">环评</a> </li>
                            <li><a href="javascript:void(0)">水质</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-bots">
            <div class="cont-box">
                <div class="cont-box-all">
                    <div class="cont-title">政务效能</div>
                </div>
            </div>
            <div class="cont-box">
                <div class="cont-box-all">
                    <div class="cont-title">公共安全</div>
                    <div class="bots-body">敬请期待</div>
                </div>
            </div>
            <div class="cont-box">
                <div class="cont-box-all">
                    <div class="cont-title">文化建设</div>
                    <div class="cr-bo-nums">
                        <p class="bo-num">77</p>
                        <p class="bo-index bo-index2">文化建设指数</p>
                    </div>
                    <ul class="bo-lists clearfix">
                        <li><a href="javascript:void(0)">科学</a> </li>
                        <li><a href="javascript:void(0)">教育</a> </li>
                        <li><a href="javascript:void(0)">卫生</a> </li>
                        <li><a href="javascript:void(0)">文化</a> </li>
                    </ul>
                </div>
            </div>
            <div class="cont-box">
                <div class="cont-box-all">
                    <div class="cont-title">敬请期待</div>
                    <div class="bots-body">敬请期待</div>
                </div>
            </div>
            <div class="cont-box">
                <div class="cont-box-all">
                    <div class="cont-title">交通运输</div>
                    <div class="cr-bo-nums">
                        <p class="bo-num">77</p>
                        <p class="bo-index">交通综合指数</p>
                    </div>
                    <div class="chart-boxs">
                        <div id="chartTrans" class="chart-pics"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../templates/foot') %>
<script>
    $(function () {
        var arrchart=[];
        //交通运输
        chartTrans();
        function chartTrans() {
            var myChart = echarts.init(document.getElementById('chartTrans'));
            var radius = ['28%', '35%'];
            var t1 = '22%';
            var t2 = '68%';
            option = {
                title: [
                    {
                        text: '交通运输',
                        top: '40%',
                        left: '7%',
                        textStyle: {
                            color: '#fff',
                            left:'center',
                            fontSize: 14,
                            fontWeight:'normal'
                        }
                    },
                    {
                        text: '货物运输',
                        top: '40%',
                        left: '31%',
                        textStyle: {
                            color: '#fff',
                            left:'center',
                            fontSize: 14,
                            fontWeight:'normal'
                        }
                    },
                    {
                        text: '文明交通',
                        top: '40%',
                        left: '55%',
                        textStyle: {
                            color: '#fff',
                            left:'center',
                            fontSize: 14,
                            fontWeight:'normal'
                        }
                    },
                    {
                        text: '公共出行',
                        top: '40%',
                        left: '77%',
                        textStyle: {
                            color: '#fff',
                            left:'center',
                            fontSize: 14,
                            fontWeight:'normal'
                        }
                    }
                ],
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                series: [
                    {
                        name: '交通运输',
                        type: 'pie',
                        radius: radius,
                        center:['15%',t1],
                        color:'#46bff5',
                        label: {
                            normal: {
                                position: 'center'
                            }
                        },
                        data: [
                            {
                                value: 76,
                                name: '交通运输',
                                label: {
                                    normal: {
                                        formatter: '{c}',
                                        lineHeight:100,
                                        textStyle: {
                                            color:'#c1fbff',
                                            fontFamily: 'digital',
                                            fontSize:16
                                        }
                                    }
                                },
                                tooltip:{
                                    trigger: 'item'
                                }
                            },
                            {
                                value: 200,
                                name: '',
                                label: {
                                    show:false,
                                    normal: {
                                        position: 'outside'
                                    }
                                },
                                labelLine:{
                                    show:false,
                                    emphasis:{
                                        show:false
                                    }
                                },
                                itemStyle: {
                                    show:false,
                                    normal: {
                                        color: '#2063a7'
                                    }
                                },
                                tooltip:{
                                    show:false,
                                    trigger: 'item'
                                }
                            }
                            ]
                    },
                    {
                        name: '货物运输',
                        type: 'pie',
                        radius: radius,
                        center:['39%',t1],
                        color:'#d29704',
                        label: {
                            normal: {
                                position: 'center'
                            }
                        },
                        data: [
                            {
                                value:80,
                                name: '货物运输',
                                label: {
                                    normal: {
                                        formatter: '{c}',
                                        textStyle: {
                                            color:'#c1fbff',
                                            fontFamily: 'digital',
                                            fontSize:16
                                        }
                                    }
                                },
                                tooltip:{
                                    trigger: 'item',
                                }
                            }, {
                                value: 200,
                                name: '',
                                label: {
                                    show:false,
                                    normal: {
                                        position: 'outside'
                                    }
                                },
                                labelLine:{
                                    show:false,
                                    emphasis:{
                                        show:false,
                                    }
                                },
                                itemStyle: {
                                    show:false,
                                    normal: {
                                        color: 'rgba(210,151,4,0.3)'
                                    }
                                },
                                tooltip:{
                                    show:false,
                                    trigger: 'item',
                                }
                            }]
                    },
                    {
                        name: '文明交通',
                        type: 'pie',
                        radius: radius,
                        center:['63%',t1],
                        color:'#0cbcaf',
                        label: {
                            normal: {
                                position: 'center'
                            }
                        },
                        data: [
                            {
                                value: 81,
                                name: '文明交通',
                                label: {
                                    normal: {
                                        formatter: '{c}',
                                        textStyle: {
                                            color:'#c1fbff',
                                            fontFamily: 'digital',
                                            fontSize:16
                                        }
                                    }
                                },
                                tooltip:{
                                    trigger: 'item',
                                }
                            }, {
                                value: 200,
                                name: '',
                                label: {
                                    show:false,
                                    normal: {
                                        position: 'outside'
                                    }
                                },
                                labelLine:{
                                    show:false,
                                    emphasis:{
                                        show:false,
                                    }
                                },
                                itemStyle: {
                                    show:false,
                                    normal: {
                                        color: 'rgba(12,188,175,0.3)'
                                    }
                                },
                                tooltip:{
                                    show:false,
                                    trigger: 'item',
                                }
                            }]
                    },
                    {
                        name: '公共出行',
                        type: 'pie',
                        radius: radius,
                        center:['85%',t1],
                        color:'#94d800',
                        label: {
                            normal: {
                                position: 'center'
                            }
                        },
                        data: [
                            {
                                value: 73,
                                name: '公共出行',
                                label: {
                                    normal: {
                                        formatter: '{c}',
                                        textStyle: {
                                            color:'#c1fbff',
                                            fontFamily: 'digital',
                                            fontSize:16
                                        }
                                    }
                                },
                                tooltip:{
                                    trigger: 'item',
                                }
                            }, {
                                value: 200,
                                name: '',
                                label: {
                                    show:false,
                                    normal: {
                                        position: 'outside'
                                    }
                                },
                                labelLine:{
                                    show:false,
                                    emphasis:{
                                        show:false,
                                    }
                                },
                                itemStyle: {
                                    show:false,
                                    normal: {
                                        color: 'rgba(148,216,0,0.3)'
                                    }
                                },
                                tooltip:{
                                    show:false,
                                    trigger: 'item',
                                }
                            }]
                    }
                ]
            };
            myChart.setOption(option);
            arrchart.push(myChart);
        }
        //基础设施
        chartBasic();
        function chartBasic() {
            var myChart = echarts.init(document.getElementById('chartBasic'));
            var radius = ['38%', '45%'];
            var t1 = '22%';
            var t2 = '68%';
            option = {
                title: [
                    {
                        text: '住房',
                        top: '47%',
                        textAlign:'center',
                        left: '18%',
                        textStyle: {
                            color: '#fff',
                            fontSize: 14,
                            fontWeight:'normal'
                        },
                        subtext:'（单位：万亿）',
                        subtextStyle:{
                            color: '#709dd5',
                            fontSize: 14,
                            fontWeight:'normal'
                        }
                    },
                    {
                        text: '单位',
                        top: '47%',
                        textAlign:'center',
                        left: '50%',
                        textStyle: {
                            color: '#fff',
                            left:'center',
                            fontSize: 14,
                            fontWeight:'normal'
                        },
                        subtext:'（单位：万亿）',
                        subtextStyle:{
                            color: '#709dd5',
                            left:'center',
                            fontSize: 14,
                            fontWeight:'normal'
                        }
                    },
                    {
                        text: '绿化',
                        top: '47%',
                        textAlign:'center',
                        left: '80%',
                        textStyle: {
                            color: '#fff',
                            left:'center',
                            fontSize: 14,
                            fontWeight:'normal'
                        },
                        subtext:'（单位：万亿）',
                        subtextStyle:{
                            color: '#709dd5',
                            left:'center',
                            fontSize: 14,
                            fontWeight:'normal'
                        }
                    }
                ],
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                series: [
                    {
                        name: '住房',
                        type: 'pie',
                        radius: radius,
                        center:['20%',t1],
                        color:'#46bff5',
                        label: {
                            normal: {
                                position: 'center'
                            }
                        },
                        data: [
                            {
                                value: 80,
                                name: '住房',
                                label: {
                                    normal: {
                                        formatter: '{c}',
                                        lineHeight:100,
                                        textStyle: {
                                            color:'#c1fbff',
                                            fontFamily: 'digital',
                                            fontSize:16,
                                       }
                                    }
                                },
                                tooltip:{
                                    trigger: 'item'
                                }
                            },
                            {
                                value: 20,
                                name: '',
                                label: {
                                    show:true,
                                    normal: {
                                        position: 'outside'
                                    }
                                },
                                labelLine:{
                                    show:false,
                                    emphasis:{
                                        show:false
                                    }
                                },
                                itemStyle: {
                                    show:false,
                                    normal: {
                                        color: '#2063a7'
                                    }
                                },
                                tooltip:{
                                    show:false,
                                    trigger: 'item'
                                }
                            }
                        ]
                    },
                    {
                        name: '单位',
                        type: 'pie',
                        radius: radius,
                        center:['50%',t1],
                        color:'#0cbcaf',
                        label: {
                            normal: {
                                position: 'center'
                            }
                        },
                        data: [
                            {
                                value:75,
                                name: '单位',
                                label: {
                                    normal: {
                                        formatter: '{c}',
                                        textStyle: {
                                            color:'#c1fbff',
                                            fontFamily: 'digital',
                                            fontSize:16
                                        }
                                    }
                                },
                                tooltip:{
                                    trigger: 'item',
                                }
                            }, {
                                value: 25,
                                name: '',
                                label: {
                                    show:false,
                                    normal: {
                                        position: 'outside'
                                    }
                                },
                                labelLine:{
                                    show:false,
                                    emphasis:{
                                        show:false,
                                    }
                                },
                                itemStyle: {
                                    show:false,
                                    normal: {
                                        color: '#2063a7'
                                    }
                                },
                                tooltip:{
                                    show:false,
                                    trigger: 'item',
                                }
                            }]
                    },
                    {
                        name: '绿化',
                        type: 'pie',
                        radius: radius,
                        center:['80%',t1],
                        color:'#d89a00',
                        label: {
                            normal: {
                                position: 'center'
                            }
                        },
                        data: [
                            {
                                value: 74,
                                name: '绿化',
                                label: {
                                    normal: {
                                        formatter: '{c}',
                                        textStyle: {
                                            color:'#c1fbff',
                                            fontFamily: 'digital',
                                            fontSize:16
                                        }
                                    }
                                },
                                tooltip:{
                                    trigger: 'item',
                                }
                            }, {
                                value: 28,
                                name: '',
                                label: {
                                    show:false,
                                    normal: {
                                        position: 'outside'
                                    }
                                },
                                labelLine:{
                                    show:false,
                                    emphasis:{
                                        show:false,
                                    }
                                },
                                itemStyle: {
                                    show:false,
                                    normal: {
                                        color: '#2063a7'
                                    }
                                },
                                tooltip:{
                                    show:false,
                                    trigger: 'item',
                                }
                            }]
                    }
                ]
            };
            myChart.setOption(option);
            arrchart.push(myChart);
        }

        // 图表自适应
        window.onresize = function(){
            for(var i = 0; i < arrchart.length; i++){
                arrchart[i].resize();
            }
        };

    })
</script>

</body>
</html>