<%- include('../templates/head') %>
<body>
    <div class="contain">
        <%- include('../templates/header') %>
        <div class="cont-list">
             <div class="cont-list-left">
                 <div class="cont-box">
                      <div class="cont-box-all">
                          <div class="cont-title">经济运行</div>
                      </div>
                 </div>
                 <div class="cont-box">
                      <div class="cont-box-all">
                          <div class="cont-title">民生舆情</div>
                      </div>
                 </div>
             </div>
             <div class="cont-list-center">
                  <div class="ce-box-cdi">

                  </div>
             </div>
        </div>
    </div>
    <%- include('../templates/foot') %>
</body>
</html>