<%- include('../templates/head') %>
<style>
</style>
<body>
    <%- include('../templates/header2') %>
	<div class="v2-content clearfix">
        <div class="city-left">
            <div class="left-ecoBox1">
                <div class="con-tit">
                    <i class="shineFont">气象环境</i>
                </div>
                <div class="co-box">
                    <div>
                        <i class="jiao1"></i>
                        <i class="jiao2"></i>
                        <i class="jiao3"></i>
                        <i class="jiao4"></i>
                    </div>
                    <div class="weather-list">
                        <ul class="clearfix">
                            <li>
                                <span class="span1 ic-wind"></span>
                                <span class="span2">
                                    <p class="p1 digital orange">3级</p>
                                    <p class="p2">风力</p>
                                </span>
                            </li>
                            <li>
                                <span class="span1 ic-temperature"></span>
                                <span class="span2">
                                    <p class="p1 digital orange">30℃</p>
                                    <p class="p2">温度</p>
                                </span>
                            </li>
                            <li>
                                <span class="span1 ic-rain"></span>
                                <span class="span2">
                                    <p class="p1 digital orange">200mm</p>
                                    <p class="p2">24h降水量</p>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="left-ecoBox2">
                <div class="con-tit" style="margin-top:.18rem">
                    <i class="shineFont">污染源情况</i>
                </div>
                <div class="co-box">
                    <div>
                        <i class="jiao1"></i>
                        <i class="jiao2"></i>
                        <i class="jiao3"></i>
                        <i class="jiao4"></i>
                    </div>
                    <div class="polluteChart">
                        <div class="chart" id="line1"></div>
                        <div class="chart-detail">考察区域内废水排放总量与国家规定的限制排放总量比值、区域内废气排放总量与国家规定的限制排放总量比值、区域内固体废弃物排放总量与国家规定的限制排放总量比值，比值应小于1，且比值越小表现越优.</div>
                    </div>
                    <div class="polluteNum">
                        <ul>
                            <li>
                                <p class="p1 digital blue">16</p>
                                <p class="p2">工业园</p>
                            </li>
                            <li>
                                <p class="p1 digital blue">23</p>
                                <p class="p2">城镇生活源</p>
                            </li>
                            <li>
                                <p class="p1 digital blue">9</p>
                                <p class="p2">农业园</p>
                            </li>
                            <li>
                                <p class="p1 digital blue">11</p>
                                <p class="p2">治污设施</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="left-ecoBox2">
                <div class="con-tit" style="margin-top:.18rem">
                    <i class="shineFont">绿色节能</i>
                </div>
                <div class="co-box">
                    <div>
                        <i class="jiao1"></i>
                        <i class="jiao2"></i>
                        <i class="jiao3"></i>
                        <i class="jiao4"></i>
                    </div>
                    <div class="energyList">
                        <ul>
                            <li>
                                <span class="span1">万元产值能耗</span>
                                <span class="span2"><i class="digital blue">1050</i> tce/万元</span>
                            </li>
                            <li>
                                <span class="span1">一般工业固体废物综合利用率</span>
                                <span class="span2"><i class="digital blue">65</i> %</span>
                            </li>
                            <li>
                                <span class="span1">危险废物综合利用率</span>
                                <span class="span2"><i class="digital blue">78</i> %</span>
                            </li>
                            <li class="care">注：万元产值能耗为工业用能源消耗（包括取水量、煤炭消耗量、燃料油消耗量、焦炭消耗量、天然气消耗量、用电量以及其他燃料消耗量，折算成吨标准煤进行计算）与年工业总产值的比值。与年工业总产值的比值。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="city-middle ecology-middle">
            <div class="bigTit-wrap">
                <div class="big-title">生态环境指数</div>
            </div>
            <div class="index-wrap">
                <ul class="indexBox">
                    <li>
                        <p class="digital blue">75.7</p>
                        <p>2017年度</p>
                    </li>
                    <li class="orangeLi">
                        <p class="digital orange">80.0</p>
                        <p>2018年度</p>
                    </li>
                    <li>
                        <p class="digital blue">81.1</p>
                        <p>2019年度预测</p>
                    </li>
                </ul>
            </div>
            <div class="mapPart-box">
                <div class="mapPartImg clearfix">
                    <img src="../images/v2.0/map-part.png">
                    <div class="blackPop-wrap">
                        <a href="#" class="bigRound"></a>
                        <div class="blackPop">
                            <div class="blackPop-in">
                                <div class="inTop">
                                    <ul class="clearfix ul1">
                                        <li>
                                            <span class="span1">工业污染</span>
                                            <span class="span2">佛山三水永和实业有限公司</span>
                                        </li>
                                        <li>
                                            <span class="leftSpan">
                                                <i class="white">行业级别:</i>
                                                <i class="yellow">造纸业</i>
                                            </span>
                                            <span class="rightSpan">
                                                <i class="white">污染源管理级别:</i>
                                                <i class="yellow">A级</i>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="leftSpan">
                                                <i class="white">应急负责人:</i>
                                                <i class="yellow">张华明</i>
                                            </span>
                                            <span class="rightSpan">
                                                <i class="white">应急值班电话:</i>
                                                <i class="yellow">020-0214514</i>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="leftSpan">
                                                <i class="white">环保负责人:</i>
                                                <i class="yellow">张华明</i>
                                            </span>
                                            <span class="rightSpan">
                                                <i class="white">环保联系人电话:</i>
                                                <i class="yellow">020-0214514</i>
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="clearfix ul2">
                                        <li>
                                            <span class="leftSpan">
                                                <i class="white">主要污染排放物:</i>
                                                <i class="yellow">SO2,NO</i>
                                            </span>
                                            <span class="rightSpan">
                                                <i class="white">危险源:</i>
                                                <i class="yellow">烟花，爆竹</i>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="inBottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="city-right">
            <div class="right-ecoBox1">
                <div class="con-tit">
                    <i class="shineFont">环境质量</i>
                </div>
                <div class="co-box">
                    <div>
                        <i class="jiao1"></i>
                        <i class="jiao2"></i>
                        <i class="jiao3"></i>
                        <i class="jiao4"></i>
                    </div>
                    <div class="qualityList">
                        <ul class="clearfix">
                            <li>
                                <div class="roundWrap">
                                    <span class="ic-roundLeft digital orange">62</span>
                                </div>
                                <p>声环境质量</p>
                            </li>
                            <li class="chartLi" style="width: 200px;">
                                <div class="chart" id="pie2"></div>
                            </li>
                            <li>
                                <div class="roundWrap">
                                    <span class="ic-roundLeft orange lianghao">良好</span>
                                </div>
                                <p>地表水环境质量</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-ecoBox2">
                <div class="con-tit" style="margin-top:.18rem">
                    <i class="shineFont">应急防治</i>
                </div>
                <div class="co-box">
                    <div>
                        <i class="jiao1"></i>
                        <i class="jiao2"></i>
                        <i class="jiao3"></i>
                        <i class="jiao4"></i>
                    </div>
                    <div class="urgency-btn">
                        <div class="chart-hornTit current">
                            <div class="ch-in">
                                污染防治
                            </div>
                        </div>
                        <div class="chart-hornTit">
                            <div class="ch-in">
                                应急能力
                            </div>
                        </div>
                    </div>
                    <div class="urgency-chart">
                        <div class="chart-wrap1">
                            <div class="chart" id="radar3"></div>
                            <div class="chartDetail">根据国家、广东省、佛山市出台的相关文件，对三水区目前在法规和标准、质量检测、投诉处理、在线监测、污水处理、产业科研6大模块进行污染防治水平评估，每项满分为100分。</div>
                        </div>
                        <div class="chart-wrap2" style="display: none">
                            <div class="chart" id="radar4"></div>
                            <div class="chartDetail">根据《环境应急能力建设标准》，对三水区目前在人员配置、工作制度、物资储备、业务经费、指挥系统5大模块进行应急能力评估，每项满分为100分。</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include('../templates/footnav2') %>
  <%- include('../templates/foot') %>
</body>
<script type="text/javascript">
    $(function () {
        var arrchart = [];
        //交通违法查出率
        line1();
        function line1() {
            // 基于准备好的dom，初始化echarts实例
            var myChart1 = echarts.init(document.getElementById('line1'));
            // 指定图表的配置项和数据
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow',
                        label: {
                            backgroundColor: 'rgba(255,255,255,0.8)',
                            extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
                            textStyle: {
                                color: '#666',
                            },
                        },
                    },

                    backgroundColor: 'rgba(0,0,0,0.9)',
                    extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
                    textStyle: {
                        color: '#0ae1e0',
                    },
                },
                legend: {
                    data: ['实际排放总量', '限制排放总量'],
                    textStyle: {
                        color: "#c1fbff",
                        fontSize:18
                    },
                    top: '10'
                },
                grid: {
                    top: '50',
                    left: '3%',
                    right: '270',
                    bottom: '10%',
                    containLabel: true
                },
                xAxis: {
                    type: 'value',
                    axisLine: {
                        show: false,
                        lineStyle: {
                            color: '#59aceb',
                        }
                    },
                    axisLabel: {
                        show: false,
                        color: "#c1fbff",
                        fontSize:18
                    },
                    axisTick: {
                        show: false
                    },
                    splitLine: {
                        show: false
                    }
                },
                yAxis: {
                    type: 'category',
                    data: ['固体废弃物排放','废气排放','废水排放'],
                    splitLine: {
                        show: false
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#59aceb',
                        }
                    },
                    axisLabel: {
                        color: "#c1fbff",
                        fontSize:14,
                        formatter : function(params){
                            var newParamsName = "";
                            var paramsNameNumber = params.length;
                            var provideNumber = 4;
                            var rowNumber = Math.ceil(paramsNameNumber / provideNumber);
                            if (paramsNameNumber > provideNumber) {
                                for (var p = 0; p < rowNumber; p++) {
                                    var tempStr = "";
                                    var start = p * provideNumber;
                                    var end = start + provideNumber;
                                    if (p == rowNumber - 1) {
                                        tempStr = params.substring(start, paramsNameNumber);
                                    } else {
                                        tempStr = params.substring(start, end) + "\n";
                                    }
                                    newParamsName += tempStr;
                                }

                            } else {
                                newParamsName = params;
                            }
                            return newParamsName
                        }
                    },
                    axisTick: {
                        show: false
                    },
                },
                series: [
                    {
                        name: '实际排放总量',
                        type: 'bar',
                        data: [30, 50, 20],
                        barWidth: 10,
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1, [{
                                        offset: 0,
                                        color: '#44baf3'
                                    },
                                        {
                                            offset: 1,
                                            color: '#227cd1'
                                        }
                                    ]
                                ),

                            },
                        }
                    },
                    {
                        name: '限制排放总量',
                        type: 'bar',
                        data: [100, 80, 90],
                        barWidth: 10,
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1, [{
                                        offset: 0,
                                        color: '#0bf4fc'
                                    },
                                        {
                                            offset: 1,
                                            color: '#02b1fe'
                                        }
                                    ]
                                ),

                            },
                        }
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart1.setOption(option);
            arrchart.push(myChart1);
        }
        //空气质量指数仪表盘
        pie2();
        function pie2() {
            // 基于准备好的dom，初始化echarts实例
            var myChart2 = echarts.init(document.getElementById('pie2'));
            // 指定图表的配置项和数据
            option = {
                title:{
                    text:'空气质量指数AQI',
                    bottom:'55',
                    left:'center',
                    textStyle:{
                        fontSize:20,
                        color:'#0cfffb',
                        fontWeight: '100'
                    },
                },
                series: [
                    {
                        name: 'pie1',
                        type: 'pie',
                        clockWise: true,
                        startAngle:235,
                        center: ['50%', '41%'],
                        radius: ['70px', '75px'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            }
                        },
                        hoverAnimation: false,
                        data: [{
                            value: 50,  //具体数值
                            name: '优',  //评价
                            itemStyle: {
                                normal: {
                                    borderWidth: 5,
                                    borderColor: {
                                        colorStops: [{
                                            offset: 1,
                                            color: '#03b5fe' // 0% 处的颜色
                                        }, {
                                            offset: 0,
                                            color: '#0cfffb' // 100% 处的颜色
                                        }]
                                    },
                                    color: { // 完成的圆环的颜色
                                        colorStops: [{
                                            offset: 1,
                                            color: '#03b5fe' // 0% 处的颜色
                                        }, {
                                            offset: 0,
                                            color: '#0cfffb' // 100% 处的颜色
                                        }]
                                    },
                                    labelLine: {
                                        show: false
                                    }
                                }
                            },
                            label: {
                                show: true,
                                position:'center',
                                formatter:'{num|{c}}\n{text|{b}}',
                                rich:{
                                    num:{
                                        fontSize:48,
                                        fontFamily:'digital',
                                        color:'#efb78c',
                                    },
                                    text:{
                                        color: '#0cfffb',
                                        fontSize:18,
                                    }
                                }
                            },
                        }, {
                            name: 'gap',
                            value: 100 - 50,
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: false
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    color: 'rgba(0, 0, 0, 0)',
                                    borderColor: 'rgba(0, 0, 0, 0)',
                                    borderWidth: 0
                                }
                            }
                        }]
                    },
                    {
                        name: 'pie2',
                        type: 'pie',
                        clockWise: true,
                        startAngle:235,
                        center: ['50%', '41%'],
                        radius: ['70px', '75px'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            }
                        },
                        hoverAnimation: false,
                        data: [{
                            value: 82,  //最大值不变
                            name: 'completed',
                            itemStyle: {
                                normal: {
                                    borderWidth: 5,
                                    borderColor: 'rgba(235,241,245,0.15)',
                                    color:'rgba(235,241,245,0.15)',
                                    label: {
                                        show: false
                                    },
                                    labelLine: {
                                        show: false
                                    }
                                }
                            }
                        }, {
                            name: 'gap',
                            value: 100 - 82,
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: false
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    color: 'rgba(0, 0, 0, 0)',
                                    borderColor: 'rgba(0, 0, 0, 0)',
                                    borderWidth: 0
                                }
                            }
                        }]
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart2.setOption(option);
            arrchart.push(myChart2);
        }
        //污染防治-雷达图
        radar3();
        function radar3() {
            // 基于准备好的dom，初始化echarts实例
            var myChart3 = echarts.init(document.getElementById('radar3'));
            // 指定图表的配置项和数据
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow',
                        label: {
                            backgroundColor: 'rgba(255,255,255,0.8)',
                            extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
                            textStyle: {
                                color: '#666',
                            },
                        },
                    },

                    backgroundColor: 'rgba(0,0,0,0.9)',
                    extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
                    textStyle: {
                        color: '#0ae1e0',
                    },
                },
                radar: [
                    {
                        indicator: [
                            {text: '法规、规章、文件和标准', max: 100},
                            {text: '环境质量监测', max: 100},
                            {text: '环境投诉处理', max: 100},
                            {text: '环境质量在线监测', max: 100},
                            {text: '区域污水处理', max: 100},
                            {text: '环境相关产业、科研', max: 100}
                        ],
                        name: {
                            textStyle: {
                                color: 'white',
                                fontSize: '14'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#0b364a'
                            }
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#085969'
                            }
                        },
                        splitArea: {
                            show: false
                        },
                        center: ['50%','40%'],
                        radius: 100
                    }
                ],
                series: [
                    {
                        type: 'radar',
                        symbol: 'circle',
                        symbolSize: 8,
                        color: 'rgba(237,178,134,1)',
                        tooltip: {
                            trigger: 'item'
                        },
                        itemStyle: {
                            normal:{
                             areaStyle: {color: 'rgba(237,178,134,0.4)'},
                             lineStyle: {color: 'rgba(237,178,134,1)'},
                            },
                        },
                        data: [
                            {
                                value: [60,73,85,40,50,90],
                                name: '污染防治'
                            }
                        ]
                    }
                ]

            };
            // 使用刚指定的配置项和数据显示图表。
            myChart3.setOption(option);
            arrchart.push(myChart3);
        }
        //应急能力-雷达图
        radar4();
        function radar4() {
            // 基于准备好的dom，初始化echarts实例
            var myChart4 = echarts.init(document.getElementById('radar4'));
            // 指定图表的配置项和数据
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow',
                        label: {
                            backgroundColor: 'rgba(255,255,255,0.8)',
                            extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
                            textStyle: {
                                color: '#666',
                            },
                        },
                    },

                    backgroundColor: 'rgba(0,0,0,0.9)',
                    extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
                    textStyle: {
                        color: '#0ae1e0',
                    },
                },
                radar: [
                    {
                        indicator: [
                            {text: '机构与人员配置', max: 100},
                            {text: '基础工作制度完善情况', max: 100},
                            {text: '业务经费', max: 100},
                            {text: '应急指挥系统', max: 100},
                            {text: '应急物资储备情况', max: 100},
                        ],
                        name: {
                            textStyle: {
                                color: 'white',
                                fontSize: '14'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#0b364a'
                            }
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#085969'
                            }
                        },
                        splitArea: {
                            show: false
                        },
                        center: ['50%','40%'],
                        radius: 100
                    }
                ],
                series: [
                    {
                        type: 'radar',
                        symbol: 'circle',
                        symbolSize: 8,
                        color: 'rgba(237,178,134,1)',
                        tooltip: {
                            trigger: 'item'
                        },
                        itemStyle: {
                            normal:{
                                areaStyle: {color: 'rgba(237,178,134,0.4)'},
                                lineStyle: {color: 'rgba(237,178,134,1)'},
                            },
                        },
                        data: [
                            {
                                value: [60,73,85,40,50],
                                name: '应急能力'
                            }
                        ]
                    }
                ]

            };
            // 使用刚指定的配置项和数据显示图表。
            myChart4.setOption(option);
            arrchart.push(myChart4);
        }
        // 图表自适应
        window.onresize = function(){
            for(var i = 0; i < arrchart.length; i++){
                arrchart[i].resize();
            }
        };

        //点击切换污染防治与应急能力
        changeRadar();
        function changeRadar() {
            $('.urgency-btn .chart-hornTit').click(function () {
                var thisIndex = $(this).index();
                $(this).addClass('current').siblings().removeClass('current');
                if(thisIndex == 0){
                    $('.chart-wrap1').show();
                    $('.chart-wrap2').hide();
                    var myChart3 = echarts.init(document.getElementById('radar3'));
                    myChart3.resize();
                }else if(thisIndex == 1){
                    $('.chart-wrap1').hide();
                    $('.chart-wrap2').show();
                    var myChart4 = echarts.init(document.getElementById('radar4'));
                    myChart4.resize();
                }
            })
        }
        //点击地图大圆显示说明
        mapDetail();
        function mapDetail() {
            $('.bigRound').click(function () {
                //alert(0);
                $(this).siblings('.blackPop').toggle();
            })
        }
    })
</script>
</html>
