<%- include('../templates/head') %>

<body>
  <%- include('../templates/newheader') %>
  <div class="contain infrastructure clearfix">
    <div class="cont-left">
      <div class="cont-box jiao building">
        <div class="title">施工报建</div>
        <div class="cont-box-kid">
          <div class="top">
            <div class="echarts-change2 clearfix">
              <a href="javascript:void(0);" class="ec_a active"><span>新报建工程基本情况</span></a>
              <a href="javascript:void(0);" class="ec_a"><span>新报建工程资金情况</span></a>
            </div>
            <div class="echarts" id="build"></div>
          </div>
          <p class="tit">2018同比2017</p>
          <ul class="buildlist clearfix">
            <%
                var build_data = [
                  {
                    unit:['个','万平方米','万元','万元'],
                    num:['266','798.85','1251627.48','44033.16'],
                    cls:['ic construction','ic construction2','ic calculator','ic protect'],
                    txt:['新工程','新工程面积','总造价','保证金'],
                  }
                ];
                for(var i in build_data){
                  for(var j in build_data[i].unit){
            %>
            <li>
              <span class="unit">（单位：
                <%= build_data[i].unit[j] %>）</span>
              <span class="num digital">
                <%= build_data[i].num[j] %></span>
              <span class="cls">
                <i class="<%= build_data[i].cls[j] %>"></i>
                <%= build_data[i].txt[j] %>
              </span>
              <span class="compare">
                同比
                <i class="ic-small <%= j == 3 ? 'rise' : 'decline' %>"></i>
                <font class="txtcol-<%= j == 3 ? 'red' : 'green' %>">21.34%</font>
              </span>
            </li>
            <%
                }
              }
            %>
          </ul>
        </div>
      </div>
    </div>
    <div class="cont-center">
      <div class="cont-title jiao gradient">
        <span>基础设施指数</span>
      </div>
      <div class="cont-list">
        <ul class="clearfix">
          <li>
            <span>2017</span>
            <p class="digital">76.3</p>
          </li>
          <li>
            <span>2016</span>
            <p class="digital">78.6</p>
          </li>
          <li>
            <span>2018预测</span>
            <p class="digital">90.3</p>
          </li>
        </ul>
      </div>
      <div class="cont-box park jiao">
        <div class="title">城市绿化</div>
        <div class="cont-box-kid">
          <div class="echarts-change2 clearfix">
            <a href="javascript:void(0);" class="ec_a active"><span>建成区绿化情况</span></a>
            <a href="javascript:void(0);" class="ec_a"><span>公园绿化情况</span></a>
          </div>
          <div class="echarts" id="park"></div>
        </div>
      </div>
    </div>
    <div class="cont-right">
      <div class="cont-box land jiao">
        <div class="title">地产开发</div>
        <div class="cont-box-kid">
          <div class="echarts-change2 clearfix">
            <a href="javascript:void(0);" class="ec_a active"><span>商品房施工情况</span></a>
            <a href="javascript:void(0);" class="ec_a"><span>房地产开发投资</span></a>
          </div>
          <div class="echarts" id="land" style="display:none;"></div>
          <div class="land-tables-box">
            <div class="header">
              <span>标题</span>
              <span>面积（单位：万平方米）</span>
              <span>增长率</span>
            </div>
            <div class="list-box">
              <div class="scroll">
                <ul class="land-list">
                  <li class="active">
                    <span>施工面积</span>
                    <span class="txtcol-green digital">674.62</span>
                    <span class="txtcol-red digital">28.2% <i class="ic-small rise2"></i></span>
                  </li>
                  <li>
                    <span>住宅</span>
                    <span class="txtcol-green digital">561.92</span>
                    <span class="txtcol-red digital">28.2% <i class="ic-small rise2"></i></span>
                  </li>
                  <li>
                    <span>商业用房</span>
                    <span class="txtcol-green digital">57.90</span>
                    <span class="txtcol-red digital">61.7% <i class="ic-small rise2"></i></span>
                  </li>
                </ul>
                <ul class="land-list">
                  <li class="active">
                    <span>竣工面积</span>
                    <span class="txtcol-green digital">50.44</span>
                    <span class="txtcol-red digital">261.1% <i class="ic-small rise2"></i></span>
                  </li>
                  <li>
                    <span>住宅</span>
                    <span class="txtcol-green digital">47.52</span>
                    <span class="txtcol-red digital">262.2% <i class="ic-small rise2"></i></span>
                  </li>
                  <li>
                    <span>商业用房</span>
                    <span class="txtcol-green digital">1.22</span>
                    <span class="txtcol-red digital">43.5% <i class="ic-small rise2"></i></span>
                  </li>
                </ul>
                <ul class="land-list">
                  <li class="active">
                    <span>销售面积</span>
                    <span class="txtcol-green digital">179.89</span>
                    <span class="txtcol-red digital">70.0% <i class="ic-small rise2"></i></span>
                  </li>
                  <li>
                    <span>住宅</span>
                    <span class="txtcol-green digital">174.16</span>
                    <span class="txtcol-red digital">71.3% <i class="ic-small rise2"></i></span>
                  </li>
                  <li>
                    <span>商业用房</span>
                    <span class="txtcol-green digital">3.71</span>
                    <span class="txtcol-red digital">61.7% <i class="ic-small rise2"></i></span>
                  </li>
                </ul>
                <ul class="land-list">
                  <li class="active">
                    <span>待售面积</span>
                    <span class="txtcol-green digital">46.49</span>
                    <span class="txtcol-red digital">13.3% <i class="ic-small rise2"></i></span>
                  </li>
                  <li>
                    <span>住宅</span>
                    <span class="txtcol-green digital">42.30</span>
                    <span class="txtcol-red digital">23.1% <i class="ic-small rise2"></i></span>
                  </li>
                  <li>
                    <span>商业用房</span>
                    <span class="txtcol-green digital">3.35</span>
                    <span class="txtcol-green digital">20.4% <i class="ic-small decline2"></i></span>
                  </li>
                </ul>
              </div>
            </div>
            <span class="title-txt">统计时间：2017年</span>
          </div>
        </div>
      </div>
      <div class="cont-box road jiao">
        <div class="title">路网密度</div>
        <div class="cont-box-kid">
          <div class="shadowBox"></div>
          <div class="echarts" id="road"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%- include('../templates/footnav') %>
  <%- include('../templates/foot') %>
</body>
<script>
  var build_echart = echarts.init(document.getElementById('build')),
    park_echart = echarts.init(document.getElementById('park')),
    land_echart = echarts.init(document.getElementById('land')),
    road_echart = echarts.init(document.getElementById('road')),
    timer;
  option = {
    legend: {
      data: ['新建工程个数', '新建工程面积'],
      bottom: "0",
      textStyle: {
        color: "#a9e0ed",
        fontSize:16
      },
    },
    grid: {
      left: '1%',
      right: '4%',
      bottom: '10%',
      top: "14%",
      containLabel: true
    },
    xAxis: {
      type: 'category',
      data: ['2016', '2017', '2018'],
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      },
    },
    yAxis: [{
      type: 'value',
      name: '（单位：个）',
      nameTextStyle: {
        color: "#c7cdcd",
        fontSize:14,
        padding:[0,0,14,0]
      },
      splitLine: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      }
    }, {
      type: 'value',
      name: '（单位：万平方米）',
      min: 0,
      max: 500,
      nameTextStyle: {
        color: "#c7cdcd",
        fontSize:14,
        padding:[0,0,14,0]
      },
      splitLine: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      },
    }],
    series: [{
        name: '新建工程个数',
        type: 'bar',
        data: [120, 120, 266],
        barWidth: "20%",
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: '#44bdf4'
            }, {
              offset: 1,
              color: '#1f76cd'
            }]),
          }
        },
        label: {
          show: true,
          position: "top",
          color: "#a9e0ed",
          fontWeight:"bold",
          fontSize:16
        }
      },
      {
        name: '新建工程面积',
        type: 'bar',
        data: [674.62, 869.64, 798.85],
        barWidth: "20%",
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: '#5ac062'
            }, {
              offset: 1,
              color: '#279230'
            }]),
          }
        },
        label: {
          show: true,
          position: "top",
          color: "#a9e0ed",
          fontWeight:"bold",
          fontSize:16
        }
      }
    ]
  };
  option2 = {
    title: {
      text: "单位：万元",
      left: "center",
      top: "-1%",
      textStyle: {
        color: "#c1fbff",
        fontSize:16,
        fontWeight: "0"
      }
    },
    legend: {
      data: ['总造价', '保证金'],
      bottom: "0",
      textStyle: {
        color: "#a9e0ed",
        fontSize:16
      },
    },
    grid: {
      left: '1%',
      right: '4%',
      bottom: '10%',
      top: "14%",
      containLabel: true
    },
    xAxis: {
      type: 'category',
      data: ['2016', '2017', '2018'],
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      },
    },
    yAxis: [{
      type: 'value',
      name: '（总造价）',
      nameTextStyle: {
        color: "#c7cdcd",
        fontSize:16,
        padding:[0,0,14,0]
      },
      splitLine: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        formatter: "{value}w",
        fontSize:16
      }
    }, {
      type: 'value',
      name: '（保证金）',
      min: 0,
      max: 7.5,
      interval: 1.5,
      nameTextStyle: {
        color: "#c7cdcd",
        fontSize:14,
        padding:[0,0,14,0]
      },
      splitLine: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      },
    }],
    series: [{
        name: '总造价',
        type: 'bar',
        data: [120, 120, 1251627.48],
        barWidth: "20%",
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: '#44bdf4'
            }, {
              offset: 1,
              color: '#1f76cd'
            }]),
          }
        },
        label: {
          show: true,
          position: "top",
          color: "#a9e0ed",
          fontWeight:"bold",
          fontSize:16
        }
      },
      {
        name: '保证金',
        type: 'bar',
        data: [500, 500, 44033.16],
        barWidth: "20%",
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: '#5ac062'
            }, {
              offset: 1,
              color: '#279230'
            }]),
          }
        },
        label: {
          show: true,
          position: "top",
          color: "#a9e0ed",
          fontWeight:"bold",
          fontSize:16
        }
      }
    ]
  };
  option3 = {
    legend: {
      data: ['建成区绿化率', '绿地面积'],
      bottom: "0",
      textStyle: {
        color: "#a9e0ed",
        fontSize:16
      },
    },
    grid: {
      left: '1%',
      right: '4%',
      bottom: '10%',
      top: "14%",
      containLabel: true
    },
    xAxis: {
      type: 'category',
      data: ['2015', '2016', '2017'],
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
      },
    },
    yAxis: [{
      type: 'value',
      name: '（%）',
      nameTextStyle: {
        color: "#c7cdcd",
        fontSize:14,
        padding:[0,0,14,0]
      },
      splitLine: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      }
    }, {
      type: 'value',
      name: '（单位：公顷）',
      min: 0,
      max: 5000,
      interval: 1000,
      nameTextStyle: {
        color: "#c7cdcd",
        fontSize:14,
        padding:[0,0,14,0]
      },
      splitLine: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      },
    }],
    series: [{
        name: '建成区绿化率',
        type: 'bar',
        data: [40.86, 41.03, 43.51],
        barWidth: "20%",
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: '#fe5757'
            }, {
              offset: 1,
              color: '#bc2a2a'
            }]),
          }
        },
        label: {
          show: true,
          formatter: "{c}%",
          color: "#85f4fb",
          fontWeight: "bold",
          position: "top",
          fontSize:16
        }
      },
      {
        name: '绿地面积',
        type: 'bar',
        data: [856.25, 867.94, 920.29],
        barWidth: "20%",
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: '#d8bd39'
            }, {
              offset: 1,
              color: '#b68417'
            }]),
          }
        },
        label: {
          show: true,
          color: "#85f4fb",
          fontWeight: "bold",
          position: "top",
          fontSize:16
        }
      }
    ]
  };
  option4 = {
    legend: {
      data: ['公园绿地面积', '人均公园绿地面积'],
      bottom: "0",
      textStyle: {
        color: "#a9e0ed",
        fontSize:16
      },
    },
    grid: {
      left: '1%',
      right: '4%',
      bottom: '10%',
      top: "14%",
      containLabel: true
    },
    xAxis: {
      type: 'category',
      data: ['2015', '2016', '2017'],
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      },
    },
    yAxis: [{
      type: 'value',
      name: '（单位：公顷）',
      nameTextStyle: {
        color: "#c7cdcd",
        fontSize:14,
        padding:[0,0,14,0]
      },
      splitLine: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      }
    }, {
      type: 'value',
      name: '（单位：平方米）',
      min: 0,
      max: 75,
      interval: 15,
      nameTextStyle: {
        color: "#c7cdcd",
        fontSize:14,
        padding:[0,0,14,0]
      },
      splitLine: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#3794d4',
        }
      },
      axisLabel: {
        color: "#a9e0ed",
        fontSize:16
      },
    }],
    series: [{
        name: '公园绿地面积',
        type: 'bar',
        data: [386.82, 391.77, 443.76],
        barWidth: "20%",
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: '#44bdf4'
            }, {
              offset: 1,
              color: '#1f76cd'
            }]),
          }
        },
        label: {
          show: true,
          position: "top",
          color: "#a9e0ed",
          fontWeight:"bold",
          fontSize:16
        }
      },
      {
        name: '人均公园绿地面积',
        type: 'bar',
        data: [19.88, 19.99, 22.04],
        barWidth: "20%",
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: '#5ac062'
            }, {
              offset: 1,
              color: '#279230'
            }]),
          }
        },
        label: {
          show: true,
          position: "top",
          color: "#a9e0ed",
          fontWeight:"bold"
        }
      }
    ]
  };
  var richs = {
    nor: {
      color: "#c1fbff",
      fontSize:16
    },
    big:{
      color: "#c1fbff",
      fontSize:18,
      fontWeight:"bold"
    },
    colup: {
      color: "#ff4064",
      fontSize:16
    },
    coldown: {
      color: "#94d800",
      fontSize:16
    },
    up: {
      backgroundColor: {
        image: "../images/up.png"
      },
      height: 13,
      width: 12,
    },
    down: {
      backgroundColor: {
        image: "../images/down.png"
      },
      height: 13,
      width: 12,
    }
  }

  option5 = {
    title: {
      text: '统计时间：2017年',
      bottom: "0",
      left: "center",
      textStyle: {
        color: "#85f4fb",
        fontSize: "20"
      },
    },
    series: [{
      type: 'pie',
      radius: '55%',
      center: ['50%', '40%'],
      label: {
        normal: {
          rich: richs
        }
      },
      itemStyle: {
        // borderColor:"rgba(255,255,255,.1)",
        // borderWidth:10,
        shadowBlur: 10,
        shadowColor: "rgba(255,255,255)"
      },
      data: [{
          value: 6.77,
          name: '商业用房投资',
          itemStyle: {
            color: "#94d800"
          },
          label: {
            normal: {
              formatter: [
                '{nor|{b}}：{big|{c}亿元}',
//                '{coldown|29.9%} {down|}'
                '{colup|103.9%} {up|}'
              ].join('\n\n'),
            }
          },
        },
        {
          value: 85.7,
          name: '住宅投资',
          itemStyle: {
            color: "#0077d8"
          },
          label: {
            normal: {
              formatter: [
                '{nor|{b}}：{big|{c}亿元}',
                '{colup|29.1%} {up|}'
              ].join('\n\n'),
            }
          },
        },
      ]

    }]
  };
var radius = ['60%', '70%'],
    richs = {
        label:{
            color:"#c1fbff",
            fontSize:16
        },
        num:{
            color:"#85f4fb",
            fontSize:16
        }
    };
    option6 = {
        title: [
            {
                text: '统计时间：2017年',
                left:"center",
                bottom:"0",
                textStyle: {
                    color: '#85f4fb',
                    fontSize: 20,
                    fontWeight:'normal'
                },
            }
        ],
        tooltip : {
            trigger: 'item',
            backgroundColor:"rgba(226,246,255,.9)",
            formatter:function(params){
                var color = params.color,
                    htmlStr ='<div style="color:#6c849c;">';
                    htmlStr += '<span style="color:#6c849c;margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:'+color+';"></span>';
                    htmlStr += params.name+"面积： <br /><span style='color:#6c849c;width:15px;display:inline-block;'></span>"+params.value+"平方公里";
                    htmlStr +='</div>';
                return htmlStr
            }
        },
        series: [
            {
                type: 'pie',
                radius: radius,
                center:['50%', '50%'],
                color:'#46bff5',
                hoverAnimation: false,
                data: [
                    {
                        value: 983,
                        name: '通车公路里程',
                        itemStyle: {
                            show:false,
                            normal: {
                                color: '#0077d8'
                            }
                        },
                        tooltip:{
                            show:false,
                            trigger: 'item'
                        },
                        label:{
                            normal:{
                                formatter:[
                                    '{label|{b}}',
                                    '{num|{c}公里}'
                                ].join('\n\n'),
                                rich:richs
                            },
                        }
                    },
                    {
                        value: 215,
                        name: '城市道路总长度',
                        itemStyle: {
                            show:false,
                            normal: {
                                color: '#19b5ac'
                            }
                        },
                        tooltip:{
                            show:false,
                            trigger: 'item'
                        },
                        label:{
                            normal:{
                                formatter:[
                                    '{label|{b}}',
                                    '{num|{c}公里}'
                                ].join('\n\n'),
                                rich:richs
                            }
                        }
                    }
                ]
            },
            {
                type:'pie',
                selectedMode: 'single',
                radius: [0, '50%'],
                label: {
                    normal: {
                        position: 'inner',
                        fontSize:"16"
                    }
                },
                data:[
                    {
                        value:21.17,
                        name:'全区',
                        itemStyle:{
                            color:"#ce306f"
                        }
                    },{
                        value:827.69,
                        name:'建成区',
                        itemStyle:{
                            color:"#d29704"
                        }
                    },
                ]
            }
        ]
    };
  build_echart.setOption(option);
  park_echart.setOption(option3);
  land_echart.setOption(option5);
  road_echart.setOption(option6);
  var arr = [build_echart, park_echart, land_echart, road_echart];
  $(window).resize(function() {
    for (var i in arr) {
      arr[i].resize();
    }
  });
  $(".building .ec_a").each(function(index, el) {
    $(this).click(function(event) {
      $(".building .ec_a").removeClass('active');
      $(this).addClass('active');
      build_echart.clear();
      if ($(this).index() == 0) {
        /* 点击新报建工程基本情况  */
        build_echart.setOption(option);
      } else {
        /* 点击新报建工程资金情况  */
        build_echart.setOption(option2);
      }
    });
  });
  $(".park .ec_a").each(function(index, el) {
    $(this).click(function(event) {
      $(".park .ec_a").removeClass('active');
      $(this).addClass('active');
      park_echart.clear();
      if ($(this).index() == 0) {
        /* 点击建成区绿化情况  */
        park_echart.setOption(option3);
      } else {
        /* 点击公园绿化情况  */
        park_echart.setOption(option4);
      }
    });
  });
  $(".land .ec_a").each(function(index, el) {
    $(this).click(function(event) {
      $(".land .ec_a").removeClass('active');
      $(this).addClass('active');
      if ($(this).index() == 1) {
        /* 点击房地产开发投资  */
        $("#land").show();
        $(".land-tables-box").hide();
        land_echart.resize();
        window.clearInterval(timer);
      } else {
        /* 点击产品房施工情况  */
        $("#land").hide();
        $(".land-tables-box").show();
        land_scroll()
      }
    });
  });
  var animateNum = 0;
  land_scroll();
//  function land_scroll(){
//    timer = window.setInterval(function(){
//      var $str = $(".land-list").eq(0),
//          $main = $(".scroll");
//      //console.log($str.height());
//      $main.animate({
//        "top" : - $str.height()
//      },function(){
//        $(".land-list").eq(0).remove();
//        $main.css("top",0);
//        $main.append($str);
//      });
//    },5000);
//
//  };
  function land_scroll(){
      window.clearInterval(timer);
      var listLength = $('.scroll .land-list').length;
      timer = window.setInterval(function(){
          animateNum ++;
          if(animateNum == listLength){
              animateNum = 0;
          }
          //alert(animateNum);
          $('.scroll .land-list:eq('+animateNum+')').show();
          $('.scroll .land-list:eq('+animateNum+')').siblings().hide();
      },5000);
  };
  $(".land-tables-box").hover(function(){
    window.clearInterval(timer);
  },function(){
    land_scroll();
  })
</script>

