<%- include('../templates/head') %>
<style>
</style>

<body>
	<div id="map"></div>
	<%- include('../templates/newheader') %>
	<div class="contain ecotope  clearfix">
		<div class="cont-left">
			<div class="cont-box jiao sanitation" style="height: 3.2rem;">
				<div class="title">环卫动态</div>
				<div class="cont-box-kid">
					<div class="name-list">
						<span>环卫车</span>
						<span>垃圾车</span>
					</div>
					<ul class="clearfix">
						<%
							var san_data = [
								{cls:['ic-large car1','ic-large car3','ic-large car2','ic-large car4'],num:['40','20','80','20'],txt:['作业中','休息中','作业中','休息中']}
							];
							for(var i in san_data){
								for(var j in san_data[i].cls){
						%>
						<li class="<%= j == 2 ? 'active' : '' %>"><a href="javascript:void(0);">
								<i class="<%= san_data[i].cls[j] %>"></i>
								<span class="num-mark">
									<%= san_data[i].num[j] %></span>
								<%= san_data[i].txt[j] %>
							</a></li>
						<%
							}
						}
						%>
					</ul>
				</div>
			</div>
			<div class="cont-box jiao city" style="height: 5.5rem;">
				<div class="title">市容市貌</div>
				<div class="cont-box-kid">
					<div class="echarts" id="city_echart"></div>
					<p class="tit">2017年保洁投入<span>（单位：万元）</span></p>
					<ul class="clearfix">
						<%
										var city_data = [
											{
												cls:['ic-big refresh','ic-big clean_car','ic-big clean','ic-big house'],
												num:['38','37','85.73','19'],
												unit:['个','辆','%','家'],
												color:['blue','brown','cyan','green'],
												txt:['中转站','清扫车辆','清扫率','保洁公司']
											}
										];
										for(var i in city_data){
											for(var j in city_data[i].cls){
								%>
						<li>
							<div class="city_box clearfix">
								<i class="<%= city_data[i].cls[j] %> pull-left"></i>
								<div class="right pull-left">
									<p>
										<span class="digital">
											<%= city_data[i].num[j] %></span>
										<%= city_data[i].unit[j] %>
									</p>
									<label class="<%= city_data[i].color[j] %>">
										<%= city_data[i].txt[j] %></label>
								</div>
							</div>
						</li>
						<%
										}
									}
								%>
					</ul>
				</div>
			</div>
		</div>
		<div class="cont-center">
			<div class="cont-title jiao gradient">
				<span>生态环境指数</span>
			</div>
			<div class="cont-list">
				<ul class="clearfix">
					<li>
						<span>2016</span>
						<p class="digital">78.6</p>
					</li>
					<li>
						<span>2017</span>
						<p class="digital">78.6</p>
					</li>
					<li>
						<span>2018<font>预测</font></span>
						<p class="digital">90.3</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="cont-right">
			<div class="cont-box warning jiao" style="height: 2.2rem;">
				<div class="title">预警</div>
				<div class="cont-box-kid">
					<ul class="clearfix">
						<li>
							<i class="ic-large water"></i>
							<p>水质</p>
							<span class="num-mark">5</span>
						</li>
						<li>
							<i class="ic-large flow"></i>
							<p>空气</p>
							<span class="num-mark">5</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="cont-box water jiao more-ec-box" style="height: 3.18rem;">
				<a href="javascript:void(0);" class="y-on-y echarts-change active">同比</a>
				<div class="title">水质达标率</div>
				<a href="javascript:void(0);" class="chain-ratio echarts-change">环比</a>
				<div class="cont-box-kid">
					<div class="echarts-change2 clearfix">
						<a href="javascript:void(0);" class="active ec_a">
							<span>江河水质</span>
						</a>
						<a href="javascript:void(0);" class="ec_a"><span>饮用水源水质</span></a>
					</div>
					<div class="echarts" id="water_ec1" style="display:block;"></div>
				</div>
			</div>
			<div class="cont-box jiao environmental more-ec-box" style="height: 3.26rem;">
				<div class="title">环保政务</div>
				<div class="cont-box-kid">
					<div class="echarts-change2 clearfix">
						<a href="javascript:void(0);" class="ec_a active">
							<span>环保处罚案件</span>
						</a>
						<a href="javascript:void(0);" class="ec_a"><span>罚没总收入</span></a>
					</div>
					<div class="compare">
						同比
						<i class="ic-small rise"></i>
						<span class="txtcol-red">21.34%</span>
					</div>
					<div class="echarts" id="environmental_ec1" style="display:block;"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<%- include('../templates/footnav') %>
	<%- include('../templates/foot') %>
</body>
<script>
	$(".ecotope.contain .cont-left .sanitation ul li").each(function() {
		$(this).click(function() {
			$(this).addClass('active').siblings().removeClass('active');
		});
	});
	var city_echart = echarts.init(document.getElementById('city_echart')),
		water_ec1 = echarts.init(document.getElementById('water_ec1')),
		environmental_ec1 = echarts.init(document.getElementById('environmental_ec1')),
		map = echarts.init(document.getElementById('map')),
		app = {},
		water_ec1_data1 = [20, 80, 55, 50],
		water_ec1_data2 = [30, 69, 75, 80],
		water_ec1_data3 = [30, 69, 75, 80],
		water_ec1_data4 = [30, 80, 75, 50],
		option = {
			grid: {
				left: '4%',
				right: '4%',
				top: '10%',
				bottom: "2%",
				containLabel: true
			},
			xAxis: [{
				type: 'category',
				data: ['西南', '云东海', '白坭', '大塘', '乐平', '芦苞', '南山'],
				axisLine: {
					lineStyle: {
						color: '#3794d4',
					}
				},
				axisLabel: {
					color: "#a9e0ed",
					fontSize:12
				}
			}],
			yAxis: [{
				type: 'value',
				axisLine: {
					lineStyle: {
						color: '#3794d4',
					}
				},
				axisLabel: {
					color: "#a9e0ed",
					fontSize:12
				},
				splitLine: {
					show: false
				}
			}],
			series: [{
				name: '直接访问',
				type: 'bar',
				barWidth: '60%',
				data: [8000, 6000, 5400, 4500, 3800, 3000, 3000],
				label: {
					normal: {
						show: true,
						position: 'top',
						color: "#a9e0ed",
						fontSize:16
					}
				},
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#46bcf3'
						}, {
							offset: 1,
							color: '#1f77cf'
						}]),
					}
				}
			}]
		};
	var option1 = {
		legend: {
			data: ['2017', '2018'],
			textStyle: {
				color: "#a9e0ed",
				fontSize:16
			},
			bottom: "0",
			itemWidth: 10,
			itemHeight: 10
		},
		grid: {
			left: '2%',
			right: '2%',
			top: '10%',
			bottom: "16%",
			containLabel: true
		},
		xAxis: {
			type: 'category',
			data: ['Q1', 'Q2', 'Q3', 'Q4'],
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		},
		yAxis: {
			type: 'value',
			splitLine: {
				show: false
			},
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				formatter: '{value}%',
				fontSize:16
			},
		},
		series: [{
				name: '2017',
				type: 'bar',
				data: water_ec1_data1,
				barWidth: "20",
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#5abf63'
						}, {
							offset: 1,
							color: '#2a9633'
						}]),
					}
				},
				label: {
					formatter: function(params) {
						var num,
							arr = [];
						for (var i = 0; i < water_ec1_data2.length; i++) {
							num = parseInt(water_ec1_data1[i]) - parseInt(water_ec1_data2[i]);
							arr.push(num);
						}
						if (arr[params.dataIndex] >= 0) {
							return "+" + arr[params.dataIndex] + "%";
						} else {
							return "";
						}
					},
					show: true,
					position: "top",
					color: "#a9e0ed",
					offset: [15, 0],
					fontSize:16
				}
			},
			{
				name: '2018',
				type: 'bar',
				barWidth: "20",
				data: water_ec1_data2,
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#d7be3a'
						}, {
							offset: 1,
							color: '#b88618'
						}]),
					}
				},
				label: {
					formatter: function(params) {
						var num,
							arr = [];
						for (var i = 0; i < water_ec1_data2.length; i++) {
							num = parseInt(water_ec1_data1[i]) - parseInt(water_ec1_data2[i]);
							arr.push(num);
						}
						if (arr[params.dataIndex] < 0) {
							return arr[params.dataIndex] + "%";
						} else {
							return "";
						}
					},
					show: true,
					position: "top",
					color: "#a9e0ed",
					offset: [-15, 0],
					fontSize:16
				}
			}
		]
	};
	var option1_2 = {
		legend: {
			data: ['2017', '2018'],
			textStyle: {
				color: "#a9e0ed",
				fontSize:16
			},
			bottom: "0",
			itemWidth: 10,
			itemHeight: 10
		},
		grid: {
			left: '2%',
			right: '2%',
			top: '10%',
			bottom: "16%",
			containLabel: true
		},
		xAxis: {
			type: 'category',
			data: ['Q1', 'Q2', 'Q3', 'Q4'],
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		},
		yAxis: {
			type: 'value',
			splitLine: {
				show: false
			},
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				formatter: '{value}%',
				fontSize:16
			},
		},
		series: [{
				name: '2017',
				type: 'bar',
				data: water_ec1_data3,
				barWidth: "20",
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#5abf63'
						}, {
							offset: 1,
							color: '#2a9633'
						}]),
					}
				},
				label: {
					formatter: function(params) {
						var num,
							arr = [];
						for (var i = 0; i < water_ec1_data2.length; i++) {
							num = parseInt(water_ec1_data3[i]) - parseInt(water_ec1_data4[i]);
							arr.push(num);
						}
						if (arr[params.dataIndex] >= 0) {
							return "+" + arr[params.dataIndex] + "%";
						} else {
							return "";
						}
					},
					show: true,
					position: "top",
					color: "#a9e0ed",
					offset: [15, 0],
					fontSize:16
				}
			},
			{
				name: '2018',
				type: 'bar',
				barWidth: "20",
				data: water_ec1_data4,
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#d7be3a'
						}, {
							offset: 1,
							color: '#b88618'
						}]),
					}
				},
				label: {
					formatter: function(params) {
						var num,
							arr = [];
						for (var i = 0; i < water_ec1_data2.length; i++) {
							num = parseInt(water_ec1_data3[i]) - parseInt(water_ec1_data4[i]);
							arr.push(num);
						}
						if (arr[params.dataIndex] < 0) {
							return arr[params.dataIndex] + "%";
						} else {
							return "";
						}
					},
					show: true,
					position: "top",
					color: "#a9e0ed",
					offset: [-15, 0],
					fontSize:16
				}
			}
		]
	};
	var op2_data = [40, 80, 75],
 	option2 = {
		grid: {
			left: '2%',
			right: '2%',
			top: '24%',
			bottom: "2%",
			containLabel: true
		},
		xAxis: [{
			type: 'category',
			data: ['2018-1', '2018-2', '2018-3'],
			axisTick: {
				alignWithLabel: true
			},
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		}],
		yAxis: [{
			type: 'value',
			splitLine: {
				show: false
			},
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				formatter: '{value}%',
				fontSize:16
			},
		}],
		series: [{
			type: 'bar',
			barWidth: '30%',
			data: op2_data,
			itemStyle: {
				normal: {
					color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
						offset: 0,
						color: '#5abf63'
					}, {
						offset: 1,
						color: '#2a9633'
					}]),
				}
			},
			label: {
				show: true,
				position: "top",
				formatter: function(params){
					var i = params.dataIndex,
							num;
					if(i>0){
						num = parseInt(op2_data[i]) - parseInt(op2_data[i-1]);
						if(num > 0){
							return "+" + num + "%";
						}else{
							return num + "%";
						}
					}else{
						return "+" + params.data + "%";
					}
				},
				color: "#a9e0ed",
				fontSize:16
			}
		}]
	};
	var op2_data2 = [80, 40, 75],
	option2_2 = {
		grid: {
			left: '2%',
			right: '2%',
			top: '24%',
			bottom: "2%",
			containLabel: true
		},
		xAxis: [{
			type: 'category',
			data: ['2018-1', '2018-2', '2018-3'],
			axisTick: {
				alignWithLabel: true
			},
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		}],
		yAxis: [{
			type: 'value',
			splitLine: {
				show: false
			},
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		}],
		series: [{
			type: 'bar',
			barWidth: '30%',
			data: op2_data2,
			itemStyle: {
				normal: {
					color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
						offset: 0,
						color: '#5abf63'
					}, {
						offset: 1,
						color: '#2a9633'
					}]),
				}
			},
			label: {
				show: true,
				position: "top",
				formatter: function(params){
					var i = params.dataIndex,
							num;
					if(i>0){
						num = parseInt(op2_data2[i]) - parseInt(op2_data2[i-1]);
						if(num > 0){
							return "+" + num + "%";
						}else{
							return num + "%";
						}
					}else{
						return "+" + params.data + "%";
					}
				},
				color: "#a9e0ed",
				fontSize:16
			}
		}]
	};
	var option3 = {
		legend: {
			data: ['2016', '2017'],
			textStyle: {
				color: "#a9e0ed",
				fontSize:16
			},
			bottom: "0",
			itemWidth: 10,
			itemHeight: 10
		},
		grid: {
			left: '2%',
			right: '2%',
			top: '20%',
			bottom: "14%",
			containLabel: true
		},
		xAxis: {
			type: 'category',
			data: ['Q1', 'Q2', 'Q3', 'Q4'],
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		},
		yAxis: {
			type: 'value',
			name: "单位：个",
			nameTextStyle:{
				fontSize:16,
				padding:[0,0,14,0]
			},
			splitLine: {
				show: false
			},
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		},
		series: [{
				name: '2016',
				type: 'bar',
				barWidth: "20",
				data: [40, 60, 50, 55],
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#00cdf8'
						}, {
							offset: 1,
							color: '#006f80'
						}]),
					}
				},
				label: {
					show: true,
					position: "top",
					color: "#a9e0ed",
					fontSize:16
				}
			},
			{
				name: '2017',
				type: 'bar',
				barWidth: "20",
				data: [45, 40, 60, 80],
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#fa9400'
						}, {
							offset: 1,
							color: '#9f5c00'
						}]),
					}
				},
				label: {
					show: true,
					position: "top",
					color: "#a9e0ed",
					fontSize:16
				}
			}
		]
	};
	var option4 = {
		legend: {
			data: ['2016', '2017'],
			textStyle: {
				color: "#a9e0ed",
				fontSize:16
			},
			bottom: "0",
			itemWidth: 10,
			itemHeight: 10
		},
		grid: {
			left: '4%',
			right: '4%',
			top: '20%',
			bottom: "12%",
			containLabel: true
		},
		xAxis: {
			type: 'category',
			data: ['Q1', 'Q2', 'Q3', 'Q4'],
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		},
		yAxis: {
			type: 'value',
			name: "单位：万元",
			nameTextStyle:{
				fontSize:16,
				padding:[0,0,14,0]
			},
			splitLine: {
				show: false
			},
			axisLine: {
				lineStyle: {
					color: '#3794d4',
				}
			},
			axisLabel: {
				color: "#a9e0ed",
				fontSize:16
			},
		},
		series: [{
				name: '2016',
				type: 'bar',
				barWidth: "20",
				data: [45, 40, 60, 80],
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#00cdf8'
						}, {
							offset: 1,
							color: '#006f80'
						}]),
					}
				},
				label: {
					show: true,
					position: "top",
					color: "#a9e0ed",
					fontSize:16
				}
			},
			{
				name: '2017',
				type: 'bar',
				barWidth: "20",
				data: [40, 60, 50, 55],
				itemStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: '#fa9400'
						}, {
							offset: 1,
							color: '#9f5c00'
						}]),
					}
				},
				label: {
					show: true,
					position: "top",
					color: "#a9e0ed",
					fontSize:16
				}
			}
		]
	};

	$.get('../js/hangzhou-tracks.json', function(data) {

		var points = [].concat.apply([], data.map(function(track) {
			return track.map(function(seg) {
				return seg.coord.concat([1]);
			});
		}));
		map.setOption(option = {
			animation: false,
			bmap: {
				center: [120.13066322374, 30.240018034923],
				zoom: 14,
				roam: true
			},
			visualMap: {
				show: false,
				top: 'top',
				min: 0,
				max: 5,
				seriesIndex: 0,
				calculable: true,
				inRange: {
					color: ['blue', 'blue', 'green', 'yellow', 'red']
				}
			},
			series: [{
				type: 'heatmap',
				coordinateSystem: 'bmap',
				data: points,
				pointSize: 5,
				blurSize: 6
			}]
		});
		if (!app.inNode) {
			// 添加百度地图插件
			var bmap = map.getModel().getComponent('bmap').getBMap();
			bmap.addControl(new BMap.MapTypeControl());
		}
	});

	city_echart.setOption(option);
	water_ec1.setOption(option1);
	environmental_ec1.setOption(option3);
	var arr = [city_echart, water_ec1, environmental_ec1];
	$(window).resize(function() {
		for (var i in arr) {
			arr[i].resize();
		}
	});
	$(".environmental .ec_a").each(function() {
		$(this).click(function() {
			var i = $(this).index(),
				options;
			$(this).addClass('active');
			$(this).siblings().removeClass('active');
			if (i == 1) {
				options = option4;
				$(".environmental").find(".compare i").addClass('decline').removeClass('rise');
				$(".environmental").find(".compare span").addClass('txtcol-green').removeClass('txtcol-red');
			} else {
				options = option3;
				$(".environmental").find(".compare i").removeClass('decline').addClass('rise');
				$(".environmental").find(".compare span").removeClass('txtcol-green').addClass('txtcol-red');
			}
			environmental_ec1.clear();
			environmental_ec1.setOption(options);
		})
	});

	// 水质达标率
	water();

	function water() {
		var $ec_a = $(".water .ec_a"),
			$river = $(".ec_a").eq(0), //江河水质按钮
			$drink_water = $(".ec_a").eq(1), //饮用水源水质按钮
			$y_on_y = $(".y-on-y"), //同比按钮
			$c_r = $(".chain-ratio"), //环比按钮
			options;
		/*
	       option1 => 江河水质同比图  option1_2 => 饮用水源水质同比图
	       option2 => 江河水质环比图  option2_2 =>  饮用水源水质环比图
			*/
		$(".water .echarts-change").each(function() {
			$(this).click(function() {
				$(".water .echarts-change").removeClass('active');
				$(this).addClass('active');
				if ($(this).index() == 0) {
					/* 点击同比 */
					if ($river.hasClass('active')) {
						options = option1;
					} else {
						options = option1_2;
					}
				} else {
					/* 点击环比 */
					if ($river.hasClass('active')) {
						options = option2;
					} else {
						options = option2_2;
					}
				}
				water_ec1.clear();
				water_ec1.setOption(options);
			})
		});
		$ec_a.each(function() {
			$(this).click(function() {
				$ec_a.removeClass('active');
				$(this).addClass('active');
				if ($(this).index() == 0) {
					/* 点击江河水质 */
					if ($y_on_y.hasClass('active')) {
						options = option1;
					} else {
						options = option2;
					}
				} else {
					/* 点击饮用水源水质 */
					if ($y_on_y.hasClass('active')) {
						options = option1_2;
					} else {
						options = option2_2;
					}
				}
				water_ec1.clear();
				water_ec1.setOption(options);
			})
		});
	}
</script>

</html>
