<%- include('../templates/head') %>
<style>
</style>
<body>
	<%- include('../templates/newheader') %>
	<div class="contain ecotope  clearfix">
		<div class="cont-left">
			<div class="cont-box jiao" style="height: 3.2rem;">

			</div>
			<div class="cont-box jiao" style="height: 5.5rem;">

			</div>
		</div>
		<div class="cont-center">
			<div class="cont-title jiao">
				<span>生态环境指数</span>
			</div>
			<div class="cont-list">
				<ul class="clearfix">
					<li>
						<span>2016</span>
						<p>78.6</p>
					</li>
					<li>
						<span>2017</span>
						<p>78.6</p>
					</li>
					<li>
						<span>2018</span>
						<p>90.3</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="cont-right">
			<div class="cont-box jiao" style="height: 2.2rem;">

			</div>
			<div class="cont-box jiao" style="height: 3.18rem;">

			</div>
			<div class="cont-box jiao" style="height: 3.26rem;">

			</div>
		</div>
	</div>
	<%- include('../templates/footnav') %>
  <%- include('../templates/foot') %>
</body>
</html>
