<div class="nav-wrap">
    <div class="nav">
        <ul class="nav-list clearfix">
            <li>
                <a href="v2.0-经济运行.html">
                    <i class="nav-icon nav-icon1"></i>
                    <span>经济运行</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon2"></i>
                    <span>基础设施</span>
                </a>
            </li>
            <li>
                <a href="v2.0-生态环境.html">
                    <i class="nav-icon nav-icon3"></i>
                    <span>生态环境</span>
                </a>
            </li>
            <li>
                <a href="v2.0-城市交通.html">
                    <i class="nav-icon nav-icon4"></i>
                    <span>城市交通</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon5"></i>
                    <span>公共安全</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon6"></i>
                    <span>社会服务</span>
                </a>
            </li>
            <li>
                <a href="v2.0-index.html">
                    <i class="nav-icon nav-icon7"></i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon8"></i>
                    <span>政务效能</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon9"></i>
                    <span>智慧城市</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon10"></i>
                    <span>宜居城市</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon11"></i>
                    <span>绿色城市</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon12"></i>
                    <span>环保城市</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="nav-icon nav-icon13"></i>
                    <span>低碳城市</span>
                </a>
            </li>
        </ul>
    </div>
    <a href="javascript:;" class="nav-btn"></a>
</div>
