<header class="header clearfix">
<%  if(local.title == '首页'){ %>
    <div class="title"></div>
<%  }else if(local.title == '经济运行'){   %>
    <div class="title jingji"></div>
<%  }else if(local.title == '生态环境'){   %>
    <div class="title shengtai"></div>
<%  }else if(local.title == '基础设施'){   %>
    <div class="title jichu"></div>
<%  }else if(local.title == '城市交通'){   %>
    <div class="title chengshi"></div>
<%  }  %>

</header>