<%
	if(local.title == '首页'){
%>
	<header class="newheader clearfix">
<%
	}else if(local.title == '经济运行'){
%>
	<header class="newheader money clearfix ">
<%
	}else if(local.title == '生态环境'){
%>
	<header class="newheader ecotope clearfix">
<%
	}else if(local.title == '基础设施'){
%>
	<header class="newheader infrastructure clearfix">
<%
	}
%>
     <div class="head-time pull-left">
         <span class="ht-year">2018-11-22</span>
         <span class="ht-month">16:26:50</span>
         <span class="ht-week">星期四</span>
     </div>
     <div class="head-weather pull-right">
     	<%
     		var data = [
     			{cls:['ic weather','ic thermometer','ic water_drop','ic navigation'],txt:['晴天','11°C~23°C','湿度  50%','北风  3级  微风']}
     		];
     		for(var i in data){
     			for(var j in data[i].cls){
     	%>
        	<a href="javascript:void(0)"><i class="<%= data[i].cls[j] %>"></i><%= data[i].txt[j] %></a>
        <%
	        	}
	        }
        %>
     </div>
</header>